:root {
    --main-heading-color:
    #212121;
    --main-text-color:
    #757575;
    --main-background-color:
    #2F303A;
    --main-current-color:
    #2196F3;
    --hover-color:
    #2196F3;
    --accent-color:
    #FFFFFF;
    --bg-btn-color:
    #F5F4FA;
    --footer-contacts-color:
    rgba(255, 255, 255, 0.6);
    --logo-color:
    #000000;
    }
    body {
    font-family: "Roboto", sans-serif;
    font-size:14px;
    }
    .visually-hidden{
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }
    .container{
      width: 1200px;
      padding: 0 15px;
      outline:2px dashed #ff0000;
      margin: 0 auto;
    }
    footer {
      padding-top: 60px;
      padding-bottom: 60px;
  }
  section {
      padding-top: 94px;
      padding-bottom: 94px;
  }
  
    .header{
      padding-top: 24px;
      padding-bottom: 25px;
      display: flex;
      gap: 12px;
  }

    h1 {
    font-weight: 900;
    }
    h2{
    font-weight: 700;
    }
    .logo {
    font-family: "Raleway", sans-serif;
    }

.hero-title{
font-family: var(--font-family);
font-weight: 900;
font-size: 44px;
line-height: 136%;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: #fff;
}
.attention-to-detail{
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.punctuality{
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.planning{
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.modern-technology{
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.what-we-do{
font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.team{
font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.employee{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.position{
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #757575;
}
.address{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
}
.mail{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.number{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.attention-to-detail {
  font-family:  "Roboto", Times, serif;
  
}
.project-description {
  font-family:  "Raleway", Times, serif;
  color: rgb(88, 88, 88);
}

.main-list-item {
  font-family:  "Roboto", Times, serif;
}
.employee{
  font-family:  "Roboto", Times, serif;
}
.position{
  font-family:  "Raleway", Times, serif;
  color: rgb(88, 88, 88);
}
.hero-title{
  font-family:  "Roboto", Times, serif;
  color: rgb(0, 0, 0);
}
.btns-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn {
  padding: 6px 22px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-heading-color);
  background-color: var(--bg-btn-color);
}

.portfolio-btn:hover {
  color: var(--accent-color);
  background-color: var(--hover-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-heading-color);
}

.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.section{
  padding-top: 20px;   
    padding-bottom: 200px;
}
.header-nav{
  display: flex;
  gap: 50px;
}
.header-nav-list{
  display: flex;
  gap: 50px;
}
.header-contacts{
  display: flex;
  gap: 50px;
}
.nav-list{
  display: flex;
  gap: 30px;
}
.our-team{
  display: flex;
  gap: 30px;
}
.flex {
  display: flex;
  }
  .section-hero{
    padding-top: 200px;
    background-color: #2F303A;
    text-align:center;
    padding-bottom: 200px;
  text-align: center;
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image:linear-gradient(
    to right,
    rgba(0, 0, 0, 0.534),
    rgba(229, 229, 229, 0.281)
  ),
   url("../images/main/Img.png");
  background-size: cover;
  background-repeat: no-repeat;
  /*background-image:linear-gradient(240deg, black, white)*/
  }
  .hero-title{
    color: #FFFFFF;
    margin-bottom: 50px;
  }
  .footer{
    padding-top: 50px;
    background-color: #2F303A;
    text-align:center;
  }
  .footer-adress{
    color: #FFFFFF;
  }
  .link-footer-contacts{
    color: #FFFFFF;
  }
.header-contacts{
  margin-left: auto;
}
.hero-btn{
  border-radius: 4px;
fill: #2196f3;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
}
.what-we-do{
  margin-bottom: 50px;
}
.attention-to-detail{
  margin-bottom: 10px;
}
.punctuality{
  margin-bottom: 10px;
}
.planning{
  margin-bottom: 10px;
}
.modern-technology{
  margin-bottom: 10px;
}
.team{
  margin-bottom: 45px;
}
.employee{
  margin-top: 30px;
}
.position{
  margin-top: 10px;
  margin-bottom: 20px;
}
.image{
  margin-bottom: 0px;
}
.svg-container {
  display: inline-block; 
}

.styled-svg {
  transition: transform 0.3s; 
}

.styled-svg:hover {
  transform: scale(1.1); 
  fill: rgb(0, 119, 255);
}

.services-section {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
}

.service-item {
  position: relative; 
  margin: 10px;
}

.service-image {
  width: 100%;
  height: auto;
}

.service-overlay {
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  color: white; 
  text-align: center; 
  background: rgba(0, 0, 0, 0.7); 
  padding: 10px;
  box-sizing: border-box; 
}

.service-title {
  margin: 0; 
  font-size: 1.5em; 
}
.service{
  position: absolute;
  margin-left: 470px;
  margin-bottom: 200px;
}
.text{
  position: absolute;
  margin-left: 500px;
  margin-top: 18px; 
}
.our-team > li {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  }