:root {
    --main-heading-color:
    #212121;
    --main-text-color:
    #757575;
    --main-background-color:
    #2F303A;
    --main-current-color:
    #2196F3;
    --hover-color:
    #2196F3;
    --accent-color:
    #FFFFFF;
    --bg-btn-color:
    #F5F4FA;
    --footer-contacts-color:
    rgba(255, 255, 255, 0.6);
    --logo-color:
    #000000;
    }
    body {
    font-family: "Roboto", sans-serif;
    font-size:14px;
    }
    h1 {
    font-weight: 900;
    }
    h2{
    font-weight: 700;
    }
    .logo {
    font-family: "Raleway", sans-serif;
    }
.hero-title{
font-family: var(--font-family);
font-weight: 900;
font-size: 44px;
line-height: 136%;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: #fff;
}
.attention-to-detail{
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.punctuality{
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.planning{
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.modern-technology{
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.what-we-do{
font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.team{
font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.employee{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.position{
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #757575;
}
.address{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
}
.mail{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.number{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.attention-to-detail {
  font-family:  "Roboto", Times, serif;
  
}
.project-description {
  font-family:  "Raleway", Times, serif;
  color: rgb(88, 88, 88);
}

.main-list-item {
  font-family:  "Roboto", Times, serif;
}
.employee{
  font-family:  "Roboto", Times, serif;
}
.position{
  font-family:  "Raleway", Times, serif;
  color: rgb(88, 88, 88);
}
.hero-title{
  font-family:  "Roboto", Times, serif;
  color: rgb(0, 0, 0);
}
.btns-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn {
  padding: 6px 22px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-heading-color);
  background-color: var(--bg-btn-color);
}

.portfolio-btn:hover {
  color: var(--accent-color);
  background-color: var(--hover-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-heading-color);
}

.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}