footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .address {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #fff;
  }
  
  .mail {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .number {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer {
    padding-top: 50px;
    background-color: #2F303A;
    text-align: center;
  }
  
  .footer-adress {
    color: #FFFFFF;
  }
  .link-footer-contacts {
    color: #FFFFFF;
  }