.header {
    padding-top: 24px;
    padding-bottom: 25px;
    display: flex;
    gap: 12px;
  }
  
  .header-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #000000;
  }
  
  .header-nav-link.curent::after {
    content: "";
    background-color: #2196F3;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    display: block;
    margin-top: 28px;
    position: absolute;
  }
  
  .header-nav-link.curent {
    color: #2196F3;
  }
  
  .header-nav-link {
    position: relative;
  }