.hero-title {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  .hero-title {
    font-family: "Roboto", Times, serif;
    color: rgb(0, 0, 0);
  }
  .section-hero {
    padding-top: 200px;
    background-color: #2F303A;
    text-align: center;
    padding-bottom: 200px;
    text-align: center;
    width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.534),
        rgba(229, 229, 229, 0.281)),
      url("../images/main/Img.png");
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image:linear-gradient(240deg, black, white)*/
  }
  .hero-title {
    color: #FFFFFF;
    margin-bottom: 50px;
  }
  .hero-btn {
    border-radius: 4px;
    fill: #2196f3;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    width: 216px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2196f3;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
  }